{% set _race_files = {'T': 'terran.svg', 'Z': 'zerg.svg', 'P': 'protoss.svg', 'R': 'random.svg'} %}
{% set _race_names = {'T': 'Terran', 'Z': 'Zerg', 'P': 'Protoss', 'R': 'Random'} %}

{% macro race_name(race) -%}
  {{- _race_names.get(race, race or '?') -}}
{%- endmacro %}

{% macro race_icon(race) -%}
  {% set r = race or 'X' %}
  <span class="race race-{{ r }}" title="{{ r }}">
    {%- if r in _race_files -%}
      <img class="race-icon" src="/static/{{ _race_files[r] }}" alt="{{ r }}">
    {%- else -%}
      <span class="race-letter">?</span>
    {%- endif -%}
  </span>
{%- endmacro %}

{# Renders a UTC-stored datetime as a <time> element. Server output is the
   UTC string for no-JS / SEO; app.js replaces the text with the visitor's
   local time on DOMContentLoaded. #}
{% macro local_dt(dt) -%}
<time class="local-datetime" datetime="{{ dt.strftime('%Y-%m-%dT%H:%M:%SZ') }}">{{ dt.strftime('%Y-%m-%d %H:%M UTC') }}</time>
{%- endmacro %}
